{{#section "css"}}
<link rel="stylesheet" href="../../public/assets/css/auth.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>
  footer {
    margin-top: 120px;
  }
</style>
{{/section}}
{{#section "js"}}
<script>
  document.querySelector('form').addEventListener('submit', function (event) {
    var usernameInput = document.getElementById('TaiKhoan');
    var passwordInput = document.getElementById('MatKhau');

    if (usernameInput.value.trim() === '' || passwordInput.value.trim() === '') {
      alert('Không được để trống tài khoản hoặc mật khẩu!!');
      event.preventDefault();
    }
  });

</script>
{{/section}}
<div class="login">
  <h1 style="text-align: center; font-size: 2rem; margin-top: 2rem;">Đăng nhập</h1>
  {{#if messages.error}}
  <div class="alert alert-danger">{{messages.error}}</div>
  {{/if}}
  {{#if messages.success}}
  <div class="alert alert-success">{{messages.success}}</div>
  {{/if}}
  <form action="/account/login" method="post">
    <div class="form-group">
      <label for="TaiKhoan">Tài khoản</label>
      <input type="text" class="form-control" id="TaiKhoan" name="TaiKhoan" placeholder="Nhập tài khoản">
    </div>

    <div class="form-group">
      <label for="MatKhau">Mật khẩu</label>
      <input type="password" class="form-control" id="MatKhau" name="MatKhau" placeholder="Mật khẩu">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
    <div style="text-align: center; margin-top: 1rem;">
      <a href="/account/register">Đăng ký</a>
      <span style="margin: 0 0.5rem;">|</span>
      <a href="/account/forgot-password">Quên mật khẩu</a>
    </div>
  </form>
</div>