{{#section "css"}}
<link rel="stylesheet" type="text/css" href="../../public/assets/css/auth.css" />
{{/section}}
<div class="container">
    <h1 style="text-align: center; font-size: 2rem; margin-top: 2rem;">Đăng ký</h1>
    <div class="card-body">
        {{#if messages.error}}
        <div class="alert alert-danger" role="alert">
            {{messages.error}}
        </div>
        {{/if}}
        {{#if messages.success}}
        <div class="alert alert-success" role="alert">
            {{messages.success}}
        </div>
        {{/if}}
        <form method="post" action="/account/register" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="username">Tài khoản</label>
                <input type="text" class="form-control" id="username" name="username" required />
            </div>
            <div class="form-group">
                <label for="phone">Số điện thoại</label>
                <input type="tel" class="form-control" id="phone" name="phone" required />
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="password" name="password" required />
            </div>
            <div class="form-group">
                <label for="confirm_password">Xác nhận mật khẩu</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required />
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary btn-block" style="">Đăng ký</button>
            </div>
            <div style="text-align: center; margin-top: 1rem;">
                <span style="margin: 0 0.5rem;">Đã có tài khoản ? |</span>
                <a href="/account/login" style="text-decoration: none;">Đăng Nhập</a>
            </div>
        </form>
    </div>
</div>