{{#section "css"}}
<link rel="stylesheet" type="text/css" href="../../public/assets/css/auth.css" />
{{/section}}
{{#section "js"}}
{{!--
<script>
    // Kiểm tra tính hợp lệ của email
    function validateEmail(email) {
        const re = /\S+@\S+\.\S+/;
        return re.test(email);
    }

    // Kiểm tra tính hợp lệ của mật khẩu
    function validatePassword(password) {
        return password.length >= 6;
    }

    // Kiểm tra tính hợp lệ của xác nhận mật khẩu
    function validateConfirmPassword(password, confirmPassword) {
        return password === confirmPassword;
    }

    // Kiểm tra tính hợp lệ của tài khoản, email, mật khẩu, xác nhận mật khẩu khi form đăng ký được submit
    function validateForm() {
        const username = document.getElementById('username').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;

        let isValid = true;

        if (!username) {
            isValid = false;
            alert('Vui lòng nhập tài khoản.');
        } else if (!validateEmail(email)) {
            isValid = false;
            alert('Vui lòng nhập email hợp lệ.');
        } else if (!validatePassword(password)) {
            isValid = false;
            alert('Mật khẩu phải có ít nhất 6 ký tự.');
        } else if (!validateConfirmPassword(password, confirmPassword)) {
            isValid = false;
            alert('Xác nhận mật khẩu không khớp.');
        }

        return isValid;
    }
</script> --}}
<script>
    const citySelect = document.querySelector('#city');
    const districtSelect = document.querySelector('#district');
    const wardSelect = document.querySelector('#ward');

    // Lấy danh sách tỉnh/thành phố từ API
    fetch('https://provinces.open-api.vn/api/p', {
        method: 'GET'
    })
        .then(response => response.json())
        .then(data => {
            // Tạo các option cho select box chọn tỉnh/thành phố
            const cityOptions = data.map(city => `<option value="${city.name}">${city.name}</option>`);
            citySelect.innerHTML = `<option value="">--Chọn thành phố--</option>` + cityOptions.join('');

            // Lấy danh sách quận/huyện của tỉnh/thành phố đầu ti
            const selectedCity = data[0];
            fetch(`https://provinces.open-api.vn/api/d?province=${selectedCity.code}`, {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    // Tạo các option cho select box chọn quận/huyện
                    const districtOptions = data.map(district => `<option value="${district.name}">${district.name}</option>`);
                    districtSelect.innerHTML = `<option value="">--Chọn quận/huyện--</option>` + districtOptions.join('');

                    // Lấy danh sách phường/xã của quận/huyện đầu ti
                    const selectedDistrict = data[0];
                    fetch(`https://provinces.open-api.vn/api/w?district=${selectedDistrict.code}`, {
                        method: 'GET'
                    })
                        .then(response => response.json())
                        .then(data => {
                            // Tạo các option cho select box chọn phường/xã
                            const wardOptions = data.map(ward => `<option value="${ward.name}">${ward.name}</option>`);
                            wardSelect.innerHTML = `<option value="">--Chọn phường/xã--</option>` + wardOptions.join('');
                        })
                        .catch(error => console.log(error));
                })
                .catch(error => console.log(error));
        })
        .catch(error => console.log(error));

</script>
{{/section}}
<div class="container">
    <h1 style="text-align: center; font-size: 2rem; margin-top: 2rem;">Đăng ký</h1>
    <div class="card-body">
        {{#if messages.error}}
        <div class="alert alert-danger" role="alert">
            {{messages.error}}
        </div>
        {{/if}}
        {{#if messages.success}}
        <div class="alert alert-success" role="alert">
            {{messages.success}}
        </div>
        {{/if}}
        <form method="post" action="/account/register" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="username">Tài khoản</label>
                <input type="text" class="form-control" id="username" name="username" required />
            </div>
            <div class="form-group">
                <label for="phone">Số điện thoại</label>
                <input type="tel" class="form-control" id="phone" name="phone" required />
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="password" name="password" required />
            </div>
            <div class="form-group">
                <label for="confirm_password">Xác nhận mật khẩu</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required />
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary btn-block" style="">Đăng ký</button>
            </div>
            <div style="text-align: center; margin-top: 1rem;">
                <span style="margin: 0 0.5rem;">Đã có tài khoản ? |</span>
                <a href="/account/login" style="text-decoration: none;">Đăng Nhập</a>
            </div>
        </form>
    </div>
</div>