<footer style="background-color: #333; color: #fff; padding: 20px;">
    <div style="max-width: 1200px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;">
        <div style="margin-left: -120px;">
            <h3 style="margin: 0;">HQ2D SHOP</h3>
            <p style="margin-top: 10px;">222 Nguyễn Văn Cừ, Quận 5, TP HCM</p>
            <p>Phone: 123-456-7890</p>
        </div>
    </div>
    <hr style="border-color: #777; margin-top: 20px;">
    <p style="text-align: center; margin-top: 10px; margin-bottom:-10px">&copy; 2023 Company Name. All rights reserved.
    </p>
</footer>