<footer>
    <div class="text-center footer pb-4" style="background-color: #e9ecef;">
        <i class="fa-regular fa-copyright d-inline-block"></i>
        <span>2022 - Bản quyền thuộc về HQ2D Shop</span>
    </div>
</footer>