<nav class="navbar navbar-expand-lg navbar-light border-bottom header">
    <div class="container-fluid">
        <a href="/">
            <img src="../../public/assets/pictures/icon.png" alt="" width="100px">
        </a>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link header__item mx-4" href="/">Trang chủ</a>
                <a class="nav-link header__item mx-4" href="#">Phòng trọ nổi bật</a>
                <a class="nav-link header__item mx-4" href="#">Liên hệ</a>
            </div>
        </div>
        <div class="text-end user-option">

            <ul class="text-white ms-2 nav-profile">
                <li class="js-option-profile" onmouseover="hoverAva()">
                    <div class="text-center">
                        <img src="https://khoinguonsangtao.vn/wp-content/uploads/2022/07/avatar-cute-2.jpg" alt="">
                    </div>

                    <div>
                        Hân Mai
                        <i class="fas fa-sort-down"></i>
                    </div>

                    <ul class="subnav text-black js-subnav">
                        <li><a href="#">Tài khoản của tôi</a></li>
                        <li><a href="#">Đăng tin</a></li>
                        <li><a href="#">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{#section "js"}}
<script>

    function hoverAva() {
        let modalProfile = document.querySelector('.js-option-profile');
        let subnav = document.querySelector('.js-subnav');
        console.log(modalProfile, subnav)
        const openProfileOptions = function () {
            subnav.classList.add('open');
        }
        const closeProfileOptions = function () {
            subnav.classList.remove('open');
        }

        modalProfile.addEventListener('mouseover', openProfileOptions);
        modalProfile.addEventListener('mouseout', closeProfileOptions);
    }
</script>
{{/section}}