<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a href="/landlord/house-management" class="list-group-item list-group-item-action py-3 ripple">
                <i class="fas fa-sticky-note fa-fw me-3"></i><span>Quản lý tin đăng</span>
            </a>
            <a href="/landlord/manage-appointment" class="list-group-item list-group-item-action py-3 ripple">
                <i class="fas fa-clipboard fa-fw me-3"></i></i><span>Quản lý lịch xem phòng</span>
            </a>
            <a href="/landlord/profile" class="list-group-item list-group-item-action py-3 ripple">
                <i class="fas fa-user-edit fa-fw me-3"></i><span>Thông tin cá nhân</span></a>
            <a href="#" class="list-group-item list-group-item-action py-3 ripple">
                <i class="fas fa-key fa-fw me-3"></i><span>Đổi mật khẩu</span></a>
            <a href="#" class="list-group-item list-group-item-action py-3 ripple">
                <i class="fas fa-sign-out-alt fa-fw me-3"></i><span>Đăng xuất</span>
            </a>
        </div>
    </div>
</nav>