{{#section "css"}}
<link rel="stylesheet" href="../../public/assets/css/change-password.css" />
<link rel="stylesheet" href="../../public/assets/css/tenant/header_tenant.css" />
<link rel="stylesheet" href="../../public/assets/css/landlord/sidebar_landlord.css" />
{{/section}}
{{#section "js"}}
<script src="../../public/assets/js/header_landlors.js"></script>
<script>
    const currPass = document.getElementById("current-pass");
    const newPass = document.getElementById("new-pass");
    const confirmPass = document.getElementById("confirm-pass");
    const divCurrPassNote = document.querySelector(".message-curr-pass");
    const divConfirmPassNote = document.querySelector(".message-confirm-pass");

    currPass.addEventListener('change', (e) => {
        fetch('/tenant/check-current-password', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ password: currPass.value })
        })
            .then(response => {
                if (response.status === 201) {
                    console.log("jhj")
                    divCurrPassNote.innerHTML = '<div><label></label><input id="note-change-pass" value="Sai mật khẩu" disabled></input></div>';
                }
                else {
                    console.log("fsdfd")
                    divCurrPassNote.innerHTML = '';
                }
            }).catch(error => {

            })
    })
    confirmPass.addEventListener('change', (e) => {
        if (newPass.value !== confirmPass.value) {
            divConfirmPassNote.innerHTML = '<div><label></label><input id="note-change-pass" value="Mật khẩu không trùng" disabled></input></div>';
        }
        else
            divConfirmPassNote.innerHTML = '';
    })
    newPass.addEventListener('change', (e) => {
        if (newPass.value !== confirmPass.value) {
            divConfirmPassNote.innerHTML = '<div><label></label><input id="note-change-pass" value="Mật khẩu không trùng" disabled></input></div>';
        }
        else
            divConfirmPassNote.innerHTML = '';
    })

</script>
{{/section}}
<div class="container-fluid change-password">
    {{> header_tenant}}
    {{> sidebar_tenant}}

    <div class="content">
        <div class="content__header mt-4 pb-3 border-bottom">
            <h5>ĐỔI MẬT KHẨU</h5>
        </div>
        <div class="card-profile">
            <div class="card-container">
                <div class="body-card row pb-5">
                    <form action="/tenant/update-password" method="post" class="">
                        <div class="details text-center">
                            <div class="mt-4">
                                <label for="current-pass">Mật khẩu hiện tại</label>
                                <input type="password" id="current-pass" value="" name="curPass">

                            </div>
                            <div class="message-curr-pass text-center mb-4">
                            </div>
                            <div class="">
                                <label for="new-pass">Mật khẩu mới</label>
                                <input type="password" id="new-pass" value="" name="newPass">
                            </div>
                            <div class="message-new-pass text-center mb-4">
                            </div>
                            <div class="">
                                <label for="confirm-pass">Xác nhận mật khẩu</label>
                                <input type="password" id="confirm-pass" value="" name="confPass">
                            </div>
                            <div class="message-confirm-pass text-center mb-4">
                            </div>

                        </div>

                        <div class="text-center">
                            <input class="py-2 px-4" type="submit" value="Xác Nhận">
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>