{{#section "css"}}
<link rel="stylesheet" href="../../public/assets/css/landlord/header_landlord.css" />
<link rel="stylesheet" href="../../public/assets/css/detaills_house.css" />
{{/section}}
{{#section "js"}}
<script src="../../public/assets/js/header_landlors.js"></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 10.762536872673731, lng: 106.68232551166415 }, // Tọa độ trung tâm của bản đồ
            zoom: 12 // Mức độ thu phóng của bản đồ
        });

        // Tạo một đánh địa điểm trên bản đồ
        var marker = new google.maps.Marker({
            position: { lat: 10.762536872673731, lng: 106.68232551166415 }, // Tọa độ của đánh dấu
            map: map, // Bản đồ để đặt đánh dấu
            title: 'Địa điểm' // Tiêu đề của đánh dấu
        });
        //Paging
    }

    const url = window.location.pathname;
    const idPost = parseInt(url.substring(url.lastIndexOf('/') + 1));
    console.log(idPost)
    const fullname = document.getElementById("fullname");
    const divAddFavourite = document.getElementById("add-favourite");
    const phone = document.getElementById("phone");
    const date = document.getElementById("date");
    const time = document.getElementById("time");
    const btnConfCancel = document.getElementById("btn-confirm-cancel");
    const iconConfCancel = document.getElementById("btn-close");
    const btnConfPost = document.getElementById("btn-confirm");
    const btnOpenForm = document.getElementById("btn-open-form");
    const btnAddFavourite = document.getElementById("btn-add-favourite");
    btnConfCancel.addEventListener('click', closeConfirm);
    iconConfCancel.addEventListener('click', closeConfirm);
    btnOpenForm.addEventListener('click', openConfirm);
    btnAddFavourite.addEventListener('click', addPost)
    function addPost(e) {
        e.preventDefault();
        fetch(`/favourite-list/add-favourite/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ idPost })
        })
            .then((response) => {
                parentElement.innerHTML = '<button onclick="delPost()">Xóa khỏi danh sách yêu thích</button>';
                // Handle the response from the server
                console.log('Response:', response);
            })
            .catch((error) => {
                // Handle any errors that occur
                console.error('Error:', error);
            });
    }
    function delPost(e) {
        e.preventDefault();
        fetch(`/favourite-list/add-favourite/${idPost}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },

        })
            .then((response) => {
                parentElement.innerHTML = '<button onclick="addPost()">Thêm vào danh sách yêu thích</button>';
                // Handle the response from the server
                console.log('Response:', response);
            })
            .catch((error) => {
                // Handle any errors that occur
                console.error('Error:', error);
            });
    }
    function openConfirm(e) {
        let modal = document.querySelector(".modal-appointment-confirm");
        modal.style.display = 'flex';
    }
    function closeConfirm(e) {
        let modal = document.querySelector(".modal-appointment-confirm");
        modal.style.display = 'none';
    }
    fullname.addEventListener('change', function (event) {
        const val = fullname.value;
        if (val == "") {
            let note = document.getElementById('fullname-note');
            note.style.display = 'block';
        }
        else {
            let note = document.getElementById('fullname-note');
            note.style.display = 'none';
        }
    })
    phone.addEventListener('change', function (event) {
        const val = phone.value;
        if (val == "") {
            let note = document.getElementById('phone-note');
            note.style.display = 'block';
        }
        else {
            let note = document.getElementById('phone-note');
            note.style.display = 'none';
        }
    })
    date.addEventListener('change', function (event) {
        const val = date.value;
        if (val == "") {
            let note = document.getElementById('date-note');
            note.style.display = 'block';
        }
        else {
            let note = document.getElementById('date-note');
            note.style.display = 'none';
        }
    })
    time.addEventListener('change', function (event) {
        const val = time.value;
        if (val == "") {
            let note = document.getElementById('time-note');
            note.style.display = 'block';
        }
        else {
            let note = document.getElementById('time-note');
            note.style.display = 'none';
        }
    })

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeOS7IcZeQdZrFqQOWnddYHwki4xDCCBI&callback=initMap"></script>
{{/section}}
{{>header_landlord}}
<div class="content">

    <div>
        <button id="btn-open-form">Đặt lịch</button>
    </div>
    <div id="add-favourite">
        <button id="btn-add-favourite">Thêm vào danh sách yêu thích</button>
    </div>
    <form action="/tenant/add-appointment/{{post.TinID}}" method="post" id="post-appointment"
        class="modal-appointment-confirm">
        <div class="modal__container d-flex flex-column justify-content-between">
            <div class="modal__container-header border-bottom">
                <div class="d-flex justify-content-between">
                    <h5>ĐẶT LỊCH HẸN</h5>
                    <i id="btn-close" class="fas fa-times"></i>
                </div>
            </div>
            <div class="modal__input-item">
                <label class="d-block mb-2" for="fullname">Họ tên<span style="color:red">*</span></label>
                <input type="text" id="fullname" name="fullname" placeholder="Nhập họ tên người đặt hẹn" value=""
                    required>
                <div class="text-danger content__note" id="fullname-note">
                    Vui lòng nhập họ tên
                </div>
            </div>
            <div class="modal__input-item">
                <label class="d-block mb-2" for="phone">Số điện thoại<span style="color:red">*</span></label>
                <input type="text" id="phone" name="phone" placeholder="Nhập số điện thoại người đặt hẹn" value=""
                    required>
                <div class="text-danger content__note" id="phone-note">
                    Vui lòng nhập số điện thoại
                </div>
            </div>
            <div class="modal__input-item">
                <label class="d-block mb-2" for="date">Ngày hẹn gặp<span style="color:red">*</span></label>
                <input type="date" id="date" name="date" value="" required>
                <div class="text-danger content__note" id="date-note">
                    Vui lòng chọn ngày gặp
                </div>
            </div>
            <div class="modal__input-item">
                <label class="d-block mb-2" for="time">Thời gian cụ thể<span style="color:red">*</span></label>
                <input type="time" id="time" name="time" value="" required>
                <div class="text-danger content__note" id="time-note">
                    Vui lòng chọn thời gian cụ thể
                </div>
            </div>
            <div class="modal__container-btns text-end pb-2">
                <button type="submit" form="post-appointment" id="btn-confirm-del">Đặt lịch</button>
                <button id="btn-confirm-cancel">Hủy</button>
            </div>
        </div>
    </form>
    <div class="infor" style="background-color: white; padding:20px; box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.2);">
        <h1 style="font-size:xx-large">Chi tiết Phòng Trọ</h1>



        <div class="row">
            <div class="col-10 picture">
                {{!-- image --}}
                <div class="col-13 pic-product p-3" style="overflow: hidden;">
                    <img src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/04/04/z4237382852854-ed72464cadbd4c61b8ebe2acb970694e_1680602688.jpg"
                        alt="">
                    <div class="extra-pics mt-2">
                        <i class="fa-solid fa-angle-left"></i>
                        <img src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/04/04/z4237382846029-84e0315a368c7ef490aa2a770edd8615_1680602688.jpg"
                            alt="">
                        <img src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/04/04/z4237382843978-8512bc8537f757f03964bec36d061966_1680602689.jpg"
                            alt="">
                        <img src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/04/04/z4237382845459-b2579c3c30203c2d1d28143c5889f8a4_1680602689.jpg"
                            alt="">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </div>
            {{!-- landllord info --}}
            <div class="col-3" style="margin-left: -175px; margin-top:15px;">
                <div class="author-aside">
                    <figure class="author-avatar"><img src="https://phongtro123.com/images/default-user.png"></figure>
                    <span class="author-post">Được đăng bởi</span>
                    <span class="author-name">kenshin8522</span>
                    <div style="min-height: 16px; margin-bottom: 10px;">
                        <div class="author-online-status online" author_id="">
                            <i class="fa-solid fa-circle" style="color: #45fd21;"></i>
                            <span>
                                Đang hoạt động
                            </span>
                        </div>
                    </div>
                    <a class="btn author-phone" rel="nofollow" href="tel:0906878018">
                        <i></i> 0906878018</a>
                    <span class="btn favorite" data-post-id="58962" title="Lưu tin này">
                        <i class="fa-light fa-heart"></i>
                        &nbspYêu thích
                    </span>
                </div>
            </div>
        </div>
    </div>
    {{!-- info --}}
    <br>
    <div class="description" style="background-color:white; padding:20px; box-shadow:4px 2px 10px rgba(0, 0, 0, 0.2);">
        <h2>Thông tin chung</h2>
        <p><strong>Địa chỉ:</strong> 123 Đường ABC, Quận XYZ, Thành phố ABC</p>
        <p><strong>Diện tích:</strong> 30m²</p>
        <p><strong>Giá thuê:</strong> 5.000.000 VNĐ/tháng</p>

        <h2>Tiện nghi và mô tả</h2>
        <ul>
            <li>Phòng có điều hòa nhiệt độ</li>
            <li>Phòng tắm riêng</li>
            <li>Wifi miễn phí</li>
            <li>Bếp chung</li>
            <li>Camera an ninh</li>
        </ul>

        <h2>Thông tin liên hệ</h2>
        <p><strong>SĐT liên hệ:</strong> 0123456789</p>
        <p><strong>Email:</strong> example@example.com</p>

        <h2>Bản đồ vị trí</h2>
        <div id="map">TESTING</div>
    </div>
    {{!-- related --}}
    <br>
    <div class="description" style="background-color:white; padding:20px; box-shadow:4px 2px 10px rgba(0, 0, 0, 0.2);">
        <h2>Các phòng trọ liên quan</h2>
        <div class="related-rooms">
            <a href="product-c.html" class="room">
                <img src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/04/04/z4237382852854-ed72464cadbd4c61b8ebe2acb970694e_1680602688.jpg"
                    alt="">
                <h3>Phòng trọ A</h3>
                <p>Địa chỉ: 456 Đường DEF...</p>
                <p>Diện tích: 25m²</p>
                <p style="color:red">Giá thuê: 4.000.000 VNĐ/tháng</p>
                <p style="color:rgb(139, 139, 139)">8 phút trước</p>
            </a>
            <a href="product-c.html" class="room">
                <img src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/04/04/z4237382846029-84e0315a368c7ef490aa2a770edd8615_1680602688.jpg"
                    alt="">
                <h3>Phòng trọ B</h3>
                <p>Địa chỉ: 789 Đường GHI,...</p>
                <p>Diện tích: 35m²</p>
                <p style="color:red">Giá thuê: 6.000.000 VNĐ/tháng</p>
                <p style="color:rgb(139, 139, 139)">8 phút trước</p>
            </a>
            <a href="product-c.html" class="room">
                <img src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/04/04/z4237382843978-8512bc8537f757f03964bec36d061966_1680602689.jpg"
                    alt="">
                <h3>Phòng trọ C</h3>
                <p>Địa chỉ: 101 Đường JKL,...</p>
                <p>Diện tích: 28m²</p>
                <p style="color:red">Giá thuê: 4.500.000 VNĐ/tháng</p>
                <p style="color:rgb(139, 139, 139)">8 phút trước</p>
            </a>
            <a href="product-c.html" class="room">
                <img src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/04/04/z4237382843978-8512bc8537f757f03964bec36d061966_1680602689.jpg"
                    alt="">
                <h3>Phòng trọ C</h3>
                <p>Địa chỉ: 101 Đường JKL,...</p>
                <p>Diện tích: 28m²</p>
                <p style="color:red">Giá thuê: 4.500.000 VNĐ/tháng</p>
                <p style="color:rgb(139, 139, 139)">8 phút trước</p>
            </a>
            <a href="product-c.html" class="room">
                <img src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/04/04/z4237382843978-8512bc8537f757f03964bec36d061966_1680602689.jpg"
                    alt="">
                <h3>Phòng trọ C</h3>
                <p>Địa chỉ: 101 Đường JKL,...</p>
                <p>Diện tích: 28m²</p>
                <p style="color:red">Giá thuê: 4.500.000 VNĐ/tháng</p>
                <p style="color:rgb(139, 139, 139)">8 phút trước</p>
            </a>
        </div>
    </div>
    <br>
    <div class="description" style="background-color:white; padding:20px; box-shadow:4px 2px 10px rgba(0, 0, 0, 0.2);">
        <h2>Đánh giá</h2>
        <div class="text-center pb-5">
            <div class="list-review">
                <div class="review row py-4 border-bottom">
                    <div class="col-2 text-center">
                        <img src="../../public/assets/pictures/icon.png" alt="">
                    </div>
                    <div class="col-10 text-start">
                        <span class="name">
                            QuangTran
                        </span>
                        <p class="comment">
                            Tuyet voi
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>