.content {
    margin-top: 120px;
    margin-left: 280px;
    margin-right: 50px;
}

h5 {
    color: #002ffe;
}

.content__header-filter {
    position: relative;
}

.content__header-filter select {
    position: absolute;
    z-index: 1;
    padding: 8px 15px;
    right: 0;
}

.content__header-filter select option {
    color: #666;
    padding: 8px 15px;
}

.content__header-filter select:focus {
    outline: none;
}

.list-group-active {
    color: #002ffe;
}

/* CARD PROFILE */
.item .item__price {
    color: #002ffe;
}

.item .item__photo img {
    width: 150px;
    height: 120px;
    overflow: hidden;
    margin: auto;
}

.item .item__name .item__name-last {
    font-weight: 450;
}

.item .item__type,
.item .item__area {
    font-size: 14px;
}

.item .item__btns button {
    background-color: #002ffe;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.day-posted {
    font-size: 14px;
    font-style: italic;
    color: #002ffe;
}



.container-pagination {
    margin-left: 15%;
}
.side-bar-first {
    color: #002ffe;
}
.content__message {
    margin: 100px 0;
    text-align: center;
    color: #878787;
    opacity: 0.6;
    font-size: 24px;
}
#pagination {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    padding: 5px 10px;
}

#pagination a,
#pagination i {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    text-align: center;
    font-size: 14px;
    padding: 5px 15px;
}

#pagination a {
    margin: 0 4px;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #FFF, 0 1px 2px #666;
    /* background-color: #E6E6E6;
    background-image: -webkit-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: -moz-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: -ms-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: -o-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: linear-gradient(top, #F3F3F3, #D7D7D7); */
}

#pagination i {
    margin: 0 3px 0 3px;
}

#pagination a.current {
    border: 1px solid #002ffe;
    background-color: #002ffe;
    color: #fff;
    /* background-color: #dfdfdf;
    background-image: -webkit-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: -moz-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: -ms-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: -o-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: linear-gradient(top, #D0D0D0, #EBEBEB); */
}

.modal-cancel-confirm {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-cancel-confirm .modal__container {
    background-color: #fff;
    width: 400px;
    height: 200px;
    border-radius: 4px;
    padding: 10px 20px;
}

.modal-cancel-confirm h5 {
    color: #000;
}

.modal-cancel-confirm i {
    font-size: 26px;
}

.modal-cancel-confirm i:hover {
    cursor: pointer;
}

.modal-cancel-confirm .modal__container-btns button {
    border: none;
    background-color: #002ffe;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    opacity: 0.8;
    width: 100px;

}

.modal-cancel-confirm .modal__container-btns button:hover {
    opacity: 1;
}

.modal-cancel-confirm .modal__container-btns button:first-child {
    background-color: #fe0000;
}