body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 6%;
}

.content {
    background-color: #ffffff;
}

h1 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

.info {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #ffffff, #f6f6f6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: box-shadow 0.3s;
    border: 2px solid #ccc;
}

/* product */

.room-image {
    max-width: 100%;
    margin-bottom: 20px;
}

.pic-product {
    width: 100% !important;
    max-height: 100%;

}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: contain;
    background-color: #000;
}


.extra-pics {
    gap: 10px;
    bottom: 10px;
    left: 50%;

}

.extra-pics {
    display: flex;
}

.extra-pics img {
    flex: 1;
    width: 10%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}



.extra-pics img:hover {
    opacity: 1;
}

.extra-pics img:nth-child(4n+0) {
    margin-right: 0 !important;
}

/* map */
#map {
    height: 400px;
    width: 100%;
}

/* relate  */
.related-rooms {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: start;

}

.room {
    width: 20%;
    margin-bottom: 20px;
    text-align: start;
    border: 1px solid #ececec;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.2);
    background-color: white;

}

.room:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.images img {
    background-size: cover !important;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.room h3 {
    margin-top: 10px;
}

.room p {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: black
}

/* author tab */
.author-aside {
    border: 1px solid #f0f0f0;
    padding: 5%;
    border-radius: 5px;
    margin-bottom: 2%;
    background-color: #f0f0f0;
}

.author-aside .author-avatar {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 5%;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.author-aside .author-name {
    font-size: 1.5rem;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.author-aside .author-post {
    font-size: small;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: #3a3a3a;
}

.author-aside .author-online-status {
    text-align: center;
}

.author-aside .author-phone {
    font-weight: 700;
    font-size: 1.5rem;
    width: 100%;
    border-color: #4b4b4b;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

span.btn.favorite {
    width: 100%;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

.btn .fa-light {
    margin-right: 5px;
}

.modal-appointment-confirm {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-appointment-confirm .modal__container {
    background-color: #fff;
    width: 400px;
    height: 350px;
    border-radius: 4px;
    padding: 10px 20px;
}

.modal-appointment-confirm h5 {
    color: #000;
}

.modal-appointment-confirm i {
    font-size: 24px;
}

.modal-appointment-confirm i:hover {
    cursor: pointer;
}

.modal-appointment-confirm .modal__container-btns button {
    border: none;
    background-color: #002ffe;
    width: 100px;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    opacity: 0.8;

}

.modal-appointment-confirm .modal__container-btns button:hover {
    opacity: 1;
}

.modal-appointment-confirm .modal__container-btns button:first-child {
    background-color: #fe0000;
}

.modal-appointment-confirm input {
    width: 100%;
    padding: 10px 10px;
}

.modal-appointment-confirm .modal__input-item .content__note {
    font-size: 12px;
}

/* review */
.list-review {
    padding: 20px;
}

.review {
    margin-bottom: 20px;
}

.review img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.review .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.review .comment {
    margin-top: 10px;
    font-size: 1rem;
    color: #666;
}

/* 2 button */
/* 2 button */
.action-buttons {
    display: flex;
    justify-content: start;
    margin-top: 10px;
}

.report-btn,
.like-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.like-btn a {
    text-decoration: none;
    color: #fff;
}

.report-btn {
    background-color: #f44336;
    color: #fff;
    margin-right: 10px;
}

.like-btn {
    background-color: #4caf50;
    color: #fff;
}

.report-btn:hover,
.like-btn:hover {
    background-color: #ccc;
}


/* đặt lịch */
.btn-booking {
    background-color: #f44336;
    border: none;
    color: #fff;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
}

.btn-booking a {
    text-decoration: none;
    color: #fff;
}

.btn-booking:hover {
    background-color: #d9d9d9;
}

/* báo cáo  */
#report-form {
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 9999;
}

#report-form h2 {
    margin-top: 0;
}

#report-form label {
    display: block;
    margin-bottom: 10px;
}

#report-form input,
#report-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#report-form button {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.room {
    display: inline-block;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: start;
    text-decoration: none;
    color: #333;
}

.room img {
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    /* Thay thế tỉ lệ 16/9 bằng tỉ lệ mong muốn */
    object-fit: cover;
    margin-bottom: 10px;
}

.room h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.room p {
    font-size: 14px;
    margin-bottom: 5px;
}

.room p:last-child {
    margin-bottom: 0;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inline {
    display: inline;
    margin-left: 7px;
    /* Điều chỉnh khoảng cách theo ý muốn */
}

@media screen and (max-width: 600px) {
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    img {
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }

    p {
        font-size: 12px;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .review {
        flex-direction: column;
        align-items: center;
    }

    .review .col-2 {
        margin-bottom: 10px;
    }

    .review .col-10 {
        margin-left: 0;
    }
}

@media (max-width: 576px) {
    .review img {
        width: 100%;
        height: auto;
    }
}