body {
    font-family: Arial, sans-serif;
    margin: 0;

    padding-top: 100px;
}

.content {
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

.room-image {
    max-width: 400px;
    margin-bottom: 20px;
}

.pic-product {
    width: 80% !important;

}

.pic-product img {
    width: 80%;
    height: 400px;
    object-fit: contain;
    background-color: black;
    margin-left: 14px;
}

.extra-pics .left {
    height: 90px;
}

.extra-pics img {
    width: 90px;
    height: 90px;
    margin: 0.3rem 0;
}

.extra-pics img:nth-child(4n+0) {
    margin-right: 0 !important;
}

#map {
    height: 400px;
    width: 100%;
}