.home {
    margin-top: 10px;
    background-color: #ffffff
}

.product-img {
    max-width: 20%;
    height: auto;
    border-radius: 10%;
}

.rounded-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #ffffff, #f6f6f6);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: box-shadow 0.3s;
    border: 2px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

.rounded-bg {
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 20px;
}

.container-pagination {
    margin-left: 280px;
}

#pagination {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    padding: 5px 10px;
}

#pagination a,
#pagination i {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    text-align: center;
    font-size: 14px;
    padding: 5px 15px;
}

#pagination a {
    margin: 0 4px;
    border-radius: 4px;
    border: 1px solid #E3E3E3;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #FFF, 0 1px 2px #666;
    /* background-color: #E6E6E6;
    background-image: -webkit-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: -moz-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: -ms-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: -o-linear-gradient(top, #F3F3F3, #D7D7D7);
    background-image: linear-gradient(top, #F3F3F3, #D7D7D7); */
}

#pagination i {
    margin: 0 3px 0 3px;
}

#pagination a.current {
    border: 1px solid #002ffe;
    background-color: #002ffe;
    color: #fff;
    /* background-color: #dfdfdf;
    background-image: -webkit-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: -moz-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: -ms-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: -o-linear-gradient(top, #D0D0D0, #EBEBEB);
    background-image: linear-gradient(top, #D0D0D0, #EBEBEB); */
}


.content {}

h5 {
    margin-top: -20px;
    color: #002ffe;
    font-size: 30px;
}

.content__header-filter {
    position: relative;
}

.content__header-filter select {
    position: absolute;
    z-index: 1;
    padding: 8px 15px;
    right: 0;
}

.content__header-filter select option {
    color: #666;
    padding: 8px 15px;
}

.content__header-filter select:focus {
    outline: none;
}

.list-group-active {
    color: #002ffe;
}

/* CARD PROFILE */
.item {
    position: relative;
    cursor: pointer;
    padding: 0 10px;
}

.item:hover {
    background-color: rgba(249, 246, 246, 0.555);
}

.item .item__price {
    color: #002ffe;
}

.item .item__name .item__name-last {
    font-weight: 400;

}

.item .item__name-name {
    font-size: 20px;
}

.item .item__type,
.item .item__area {
    font-size: 14px;
}

.day-appointment {
    font-size: 14px;
    font-style: italic;
    color: #002ffe;
}

#favourite-btns a {
    text-decoration: none;
    color: #fff;
}

#favourite-btns button:last-child {
    text-decoration: none;
    background-color: #fe0000;
}

.item button:hover {
    opacity: 1;
}