.content {
    margin-top: 120px;
    margin-left: 280px;
    margin-right: 50px;
}

h5 {
    color: #002ffe;
}
/* CARD PROFILE */
.content .card-profile {
    background-color: #fff;
}

.content .card-profile .header-card h6 {
    font-weight: 400;
}

.content .card-profile .body-card .avatar img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.content .card-profile .body-card .avatar label {
    border: 1px solid #d5d5d5;
    width: 120px;
    padding: 10px 0;
    color: rgb(124, 138, 154);
}

.content .card-profile .body-card .avatar label:hover {
    cursor: pointer;
}

.card-profile .body-card .details label {
    color: rgb(124, 138, 154);
    width: 150px;
    text-align: right;
    margin-right: 1rem;
}

.card-profile .body-card .details input {
    padding: 0.5rem;
    width: 400px;
    border: 1px solid #d5d5d5;
}

.card-profile .body-card .details input:focus {
    outline: none;
}

.card-profile .body-card .details .sex-profile input {
    width: 20px;
}

.card-profile .body-card .details .sex-profile label {
    width: 50px;
    color: #000;
}

.card-profile .body-card .details .sex-profile label:first-child {
    width: 120px;
    color: rgb(124, 138, 154);
}

.card-profile .body-card input[type="submit"] {
    color: #ffff;
    border: none;
    background-color: #002ffe;
    border-radius: 3px;
}
#note-change-pass {
    border: none;
    color: red;
    font-size: 12px;
}
.side-bar-fourth {
    color: #002ffe;
}