{{#section "css"}}
<link rel="stylesheet" href="../../public/assets/css/change-password.css" />
<link rel="stylesheet" href="../../public/assets/css/landlord/header_landlord.css" />
<link rel="stylesheet" href="../../public/assets/css/landlord/sidebar_landlord.css" />
{{/section}}
{{#section "js"}}
<script src="../../public/assets/js/header_landlors.js"></script>
<script>

</script>
{{/section}}
<div class="container-fluid change-password">
    {{> header_landlord}}
    {{> sidebar_landlord}}

    <div class="content">
        <div class="content__header mt-4 pb-3 border-bottom">
            <h5>ĐỔI MẬT KHẨU</h5>
        </div>
        <div class="card-profile">
            <div class="card-container">
                <div class="body-card row pb-5">
                    <form action="/change-password/<%= user.id %>/update-password" method="post" class="">
                        <div class="details text-center">
                            <div class="mb-4 mt-4">
                                <label for="current-pass">Mật khẩu hiện tại</label>
                                <input type="password" id="current-pass" value="" name="curPass">
                            </div>
                            <div class="mb-4">
                                <label for="new-pass">Mật khẩu mới</label>
                                <input type="password" id="new-pass" value="" name="newPass">
                            </div>
                            <div class="mb-4">
                                <label for="confirm-pass">Xác nhận mật khẩu</label>
                                <input type="password" id="confirm-pass" value="" name="confPass">
                            </div>
                        </div>
                        <div class="text-center">
                            <input class="py-2 px-4" type="submit" value="Xác Nhận">
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>