{{#section "css"}}
<link rel="stylesheet" href="../../public/assets/css/manage-appointment.css" />
<link rel="stylesheet" href="../../public/assets/css/header_landlord.css" />
<link rel="stylesheet" href="../../public/assets/css/sidebar_landlord.css" />
{{/section}}
<div class="container-fluid post-house">
    {{> header_landlord}}
    {{> sidebar_landlord}}
    <div class="content">
        <div class="content__header mt-4 pb-3 border-bottom">
            <h5>LỊCH HẸN XEM PHÒNG CỦA BẠN</h5>
        </div>
        <div class="item border-bottom js-item">
            <div class="row">'
                <div class="col-2 ms-4 py-4">
                    <img src="https://tuvannhadep.com.vn/uploads/images/hinh-anh-nha-dep-1.jpg" alt="" width="100%"
                        height="100%">
                </div>
                <div class="col-9 py-4">
                    <div class="item__name fw-bold row">
                        <div class="col-6">
                            Phòng trọ giá rẻ gác lửng Quận 7
                        </div>
                        <div class="col-6 text-end text-danger item__name-last">
                            Đang chờ kiểm duyệt
                        </div>
                    </div>
                    <div class="item__type row">
                        <div class="col-6">
                            Loại trọ: Phòng trọ
                        </div>
                        <div class="col-6 text-end">
                            3 người
                        </div>
                    </div>
                    <div class="item__area">
                        Diện tích: 80m2
                    </div>
                    <div class="item__price fw-bolder">
                        1.400.000 VNĐ
                    </div>
                    <div class="item__address">
                        Địa chỉ: 227 Nguyễn Văn Cừ, Quận 5, TP Hồ Chí Minh
                    </div>
                </div>
            </div>
            <div class="item__btns text-end mb-2">
                <button class="edit-btn">Chỉnh sửa</button>
                <button class="del-btn">Xóa bài</button>
            </div>

        </div>
    </div>
</div>